
<!--<form action="{% url 'llm:delete_file' blog.id %}" method="POST">
                    {% csrf_token %}

                    <button type="submit" value="delete" class="btn btn-danger mt-2">Delete</button>
                </form>
                <a href="{% url 'llm:edite_file' blog.id %}" class="btn btn-primary mt-2 mb-3"> update</a>
                {% endif %}
                
                
                <form action="{% url 'blog:delete_blog' blog.id  %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" value="delete" class="btn btn-danger">Delete</button>
                </form> -->

<!--<div class="container">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="formGroupExampleInput">title:</label>
                <input type="text" class="form-control" name="title" id="d1" placeholder="title..">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">content:</label>
                <textarea style="height: 200px; width:400px" class="form-control" rows="4" name="content"
                    placeholder="content.." id="d1"></textarea>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">slug:</label>
                <input type="text" class="form-control" name="slug" id="d1" placeholder="slug..">
            </div>
            <input type="submit" value="add blog" class="btn btn-primary mt-5 mb-5">
        </form>
    </div>--!>

